mlxtend
Cython
implicit
lightfm
numpy
pandas
scipy
sklearn
scikit-optimize
similaripy
tqdm
torch -f https://download.pytorch.org/whl/torch_stable.html
-e git+https://github.com/maciejkula/spotlight.git@master#egg=spotlight
