Cython
implicit
lightfm
numpy
pandas
scikit-learn
scipy
similaripy
tqdm
-e torch https://download.pytorch.org/whl/torch_stable.html
-e git+https://github.com/maciejkula/spotlight.git@master#egg=spotlight
